<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/makenewbook" method="post">
            {% csrf_token %}
            <h2>Book Name:</h2> <input type="text"
            name="bookTitle" id="">
            <p>Description</p>
            <p>
            <textarea name="bookDesc" id="" cols="30" rows="10"></textarea></p>
            <p><input type="submit" value="Add Book"></p>
        </form>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            {% for bookObj in allbooks%}
            <tr>
                <td>{{bookObj.title}}</td>
                <td> {{bookObj.desc}}</td>
                <td><a href="/book/{{bookObj.id}}">View</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
    
</body>
</html>